#directories
app/graphs/*
app/men_image/*
tests*
docs*
site*
.vscode
.github*
.pytest_cache*
.devcontainer*
data*
histograms*
mean_image*

#files
Dockerfile*
setup.*
makefile
requirements-*
.pre-commit*
LICENSE
