#directories
data_detection*
data_segmentation*
app/graphs/*
app/men_image/*
.vscode
.github*
.pytest_cache*
tests*
docs*
site*

#files
Dockerfile*
setup.*
makefile
requirements-*
.pre-commit*
LICENSE
